# Ignore data, cache, logs, and junk
dash_data/
__pycache__/
*.pyc
*.pyo
*.pyd
*.log
*.csv
*.nc
*.tmp
*.swp
*.egg-info/
.cache/
.dash_uploads/
.ipynb

# Ignore VCS and IDE files
.git/
.gitignore
Dockerfile
docker-compose.yml
*.ipynb_checkpoints/
.vscode/
.idea/
